<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',    filename='css/index.css') }}">
    </head>
    <body>
        <div class="bg"></div>
        <div class="container">
            <div class="weather-side">
                <div class="weather-gradient"></div>
                <div class="date-container">
                    <h2 class="date-dayname" id="dayname">Placeholder Day</h2><span class="date-day" id="ddmmyy">December 31, 1969</span><img src="{{ url_for('static',    filename='icons/arrowlocation.svg') }}" class="location-icon" data-feather="map-pin"></i><span class="location">Etobicoke, CA</span>
                </div>
                <div class="weather-container"><i class="weather-icon" data-feather="sun"></i>
                    <h1 id="temp" class="weather-temp">Placeholder Degrees</h1>
                    <h3 class="weather-desc" id="weatherdesc">Placeholder Weather Description</h3>
                </div>
            </div>
        </div>
        <div class="centerDiv">
            <h1 id="timeJS" class="time">Placeholder</h1>
            <br>
            <h6 id="daynamemid" class="time">Loading...</h6>
        </div>
        <script src="{{url_for('static', filename='js/index.js')}}"></script>
        <script>
            window.onload = function() {
                weather( {{ owmkey|tojson }} );   
                getDayOfWeek();
                getTime();
                getDDMMYY();
                middleDate();
            }
            setInterval(getTime(), 1000);
            setInterval(getDDMMYY(), 7200000)
            setInterval(getDayOfWeek(), 7200000)
            setInterval(reloadCSS(), 1800000);
            setInterval(weather( {{ owmkey|tojson }} ), 7200000)
        </script>
    </body>
</html>

